# Report & Explanations

This notebook will include a brief report detailing how I completed Tasks 1 to 7. I will describe the commands used for each task and explain their purpose in achieving the objectives. This assignment is for Computer Infrastructure module on Higher Diploma in Data Analytics course.

____

## Tasks

[**_Task 1: Create Directory Structure_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-1-create-directory-structure)
_____
Using the command line, create a directory (that is, a folder) named data at the root of your repository. Inside data, create two subdirectories: timestamps and weather.

**Steps:**
1. Navigate to my main repository by using the **_cd_** path location of my repository: `/workspaces/computer_infrastructure` 
2. Create a directory or folder and name is data: `mkdir data`
3. Inside the data folder, I will add two subdirectories: `mkdir data/timestamps and data/weather`

[**_Task 2: Timestamps_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-2-timestamps)
___

Navigate to the data/timestamps directory. Use the date command to output the current date and time, appending the output to a file named now.txt. Make sure to use the >> operator to append (not overwrite) the file. Repeat this step ten times, then use the more command to verify that now.txt has the expected content.

**Steps:**
1. Navigate to subdirectory timestamps inside data folder: `cd data/timestamps`
2. Output the current date and time, appending the result to now.txt: `date >> now.txt`
3. Manually repeat the second step ten times by usaing the same code in step 2.
4. I then used the more command to view the contents of now.txt: `more now.txt`

[**_Task 3: Formatting Timestamps_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-3-formatting-timestamps)
___

Run the date command again, but this time format the output using YYYYmmdd_HHMMSS (e.g., 20261114_130003 for 1:00:03 PM on November 14, 2026). Refer to the date man page (using man date) for more formatting options. (Press q to exit the man page). Append the formatted output to a file named formatted.txt.

**Steps:**
1. Run the date comment with the custom format YYYYmmdd_HHMMSS. This will get the date and time in that format for example: 20241119_161025
```
date +"%Y%m%d_%H%M%S" >> formatted.txt
```
2. I've also referred to the **_man date page_** to review specific formatting options: `man date`

[**_Task 4: Create Timestamped Files_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-4-create-timestamped-files)
___

Use the touch command to create an empty file with a name in the YYYYmmdd_HHMMSS.txt format. You can achieve this by embedding your date command in backticks ` into the touch command. You should no longer use redirection (>>) in this step.

**Steps:**
1. Create the code using the **_touch_** command to make an empty file.
```
touch `date "+%Y%m%d_%H%M%S"`.txt
```
2. Using the backticks will tell the terminal to run the date command first and use its output as the filename.

[**_Task 5: Download Today's Weather Data_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-5-download-todays-weather-data)
___

Change to the data/weather directory. Download the latest weather data for the Athenry weather station from Met Eireann using wget. Use the -O <filename> option to save the file as weather.json. The data can be found at this URL:
https://prodapi.metweb.ie/observations/athenry/today.

**Steps:**
1. Use the wget command to download the URL of the weather data from [Ian's repository in Task 5](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main#task-5-download-todays-weather-data)
2. Run the code: 
```
wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today.
```
The `-O` option allows you to save the filename as **weather.json**

[**_Task 6: Timestamp the Data_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-5-download-todays-weather-data)
___

Modify the command from Task 5 to save the downloaded file with a timestamped name in the format YYYYmmdd_HHMMSS.json.

**Steps:**

1. Download the weather and save it with a filename that includes the current date and time using the man date format we used throughout.
2. We will the date command to generate this format
3. Download the file with a timestamped name by using **wget** command to download the data. By using the date command in backticks.
4. If you run the command it will be saved as: `2024229_293709.json`

[**_Task 7: Write the Script_**](https://github.com/ianmcloughlin/2425_computer_infrastructure/tree/main?tab=readme-ov-file#task-7-write-the-script)
___

Write a bash script called weather.sh in the root of your repository. This script should automate the process from Task 6, saving the weather data to the data/weather directory. Make the script executable and test it by running it. ChatGPT was used to create script for weather.sh and [YouTube video](https://www.youtube.com/watch?v=kBwwUw56QoM) for inspiration.

**Steps:**
1. The weather data will be save to data/weather directory.
2. The terminal will prompt the user for their name and asks if they want weather data for Athenry.
```
echo "What's your name?"
read name
echo "Welcome $name! Do you want to see weather information for Athenry?"
read answer
```
3. The script uses `curl` to get weather data from the url and saves it as timestamped `.json` file in the **_data/weather_** directory.
4. To make the script executable and successfully run, save the script as `weather.sh`
5. Run this command to make it executable, as this will give permission in your system to run.
``` 
chmod +x weather.sh
```
6. Execute the script with the file name of the script created.
```
./weather.sh
```

## Analysing the Data

In [5]:
# Data frames.
import pandas as pd

In [3]:
# Read the data.
df = pd.read_json('/workspaces/computer_infrastructure/data/weather/weather.json')

In [4]:
# Show
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,5,46n,Light rain,"""Moderate Drizzle """,13,-,E,90,97,0.40,999,Tuesday,2024-11-19,00:00
1,Athenry,4,05n,Rain showers,"""Rain shower""",19,-,E,90,96,0.50,999,Tuesday,2024-11-19,01:00
2,Athenry,4,46n,Light rain,"""Moderate Drizzle """,15,-,E,90,97,0.50,999,Tuesday,2024-11-19,02:00
3,Athenry,3,46n,Light rain,"""Light rain """,13,-,NE,45,96,1.00,1000,Tuesday,2024-11-19,03:00
4,Athenry,2,,N/A,,11,-,N,0,95,0.01,1000,Tuesday,2024-11-19,04:00

In [6]:
# Show
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,19.000000,19.000000,19.00000,19.000000,19.000000,19.000000,19
mean,3.052632,10.842105,45.00000,93.684211,0.171053,1003.473684,2024-11-19 00:00:00
min,2.000000,4.000000,0.00000,87.000000,0.000000,999.000000,2024-11-19 00:00:00
25%,2.000000,7.000000,22.50000,91.000000,0.000000,1000.500000,2024-11-19 00:00:00
50%,3.000000,11.000000,45.00000,95.000000,0.010000,1003.000000,2024-11-19 00:00:00
75%,4.000000,13.000000,67.50000,96.500000,0.250000,1005.500000,2024-11-19 00:00:00
max,5.000000,19.000000,90.00000,97.000000,1.000000,1010.000000,2024-11-19 00:00:00
std,0.970320,3.989753,33.54102,3.283843,0.267143,3.485979,NaN

## References
- [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)